@font-face {
    font-family: Consolas;
    src: url(consola.tff);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #f8faff;
}
a{
    text-decoration: none;
}
.header{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo{
    height: 60px;
}
.content{
    display: grid;
    width: 900px;
    margin: auto;
    margin-top: 60px;
    grid-template-rows: 300px 300px;
    grid-template-columns: 400px 400px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}
.macTab{
    background-color: #1f2937;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 5px 10px;
}
.macTabHeader{
    background-color: #111827;
    height: 26px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
}
.macTabButtonsContainer{
    height: 14px;
    margin-top: 6px;
    display: flex;
}
.macTabButtons{
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: 1px;
}
.redButton{
    background-color: #ef4444;
}
.yellowButton{
    background-color: #f59e0b;
}
.greenButton{
    background-color: #10b981;
}
.runButtonText{
    display: inline;
    font-family: Tahoma, sans-serif;
    font-weight: 100;
    color: #8b909b;
    font-size: 10px;
    margin: 0px;
}
.runButton{
    height: 14px;
    width: 14px;
    margin-left: 3px;
    border-radius: 0px;
    margin-right: 14px;
    background-image: url(run.png);
    background-size: 200%;
    background-position: center;  
    filter: invert(71%) sepia(1%) saturate(4232%) hue-rotate(185deg) brightness(82%) contrast(72%);
}
.mabTabTitle{
    color: white;
    font-family: arial;
    font-size: 12px;
    margin: auto;
}
.test{
   display: flex;
}
.test:hover{
    cursor: pointer;
}
.test:hover .runButtonText{
    color: #c8cbd0;
}
.test:hover .runButton{
    filter: invert(95%) sepia(8%) saturate(145%) hue-rotate(179deg) brightness(92%) contrast(77%);
}
.code{
    font-family: Consolas;
    color: #CCCAC2;
    font-size: 13px;
    margin-left: 10px;
}
.codeFunction{
    color: #FFD173;
}
.codeOperator{
    color: #F29E74;
}
.codeKeyword{
    color: #FFAD66;
}
.codeEntity{
    color: #73D0FF;
}
.codeString{
    color: #D5FF80;
}
.codeComment{
    color: #B8CFE680;
}
.codeConstant{
    color: #DFBFFF;
}